<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>菜式菜品</key>
		<string>http://image2.bestb2b.com/upload/pic/2013/9/28/175/1343425/138292709617130.jpg</string>
	</dict>
	<dict>
		<key>菜系</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=e333a91eca95d143da76e42b43f18296/6b166d224f4a20a4e7b779da92529822720ed006.jpg</string>
	</dict>
	<dict>
		<key>时令食材</key>
		<string>http://www.ys137.com/uploads/allimg/150304/3098-150304101028.jpg</string>
	</dict>
	<dict>
		<key>功效</key>
		<string>http://www.sxradio.com.cn/images/attachement/jpg/site2/20110629/001bb959a4730f74d1ab0b.JPG</string>
	</dict>
	<dict>
		<key>场景</key>
		<string>http://photocdn.sohu.com/20150815/mp27543741_1439625425920_1_th.jpeg</string>
	</dict>
	<dict>
		<key>工艺口味</key>
		<string>http://image.big5.made-in-china.com/2f0j01neatFyjGrglN/%E8%92%B8%E8%8F%9C%E6%8A%80%E6%9C%AF%E5%9F%B9%E8%AE%AD%EF%BC%8811%EF%BC%89.jpg</string>
	</dict>
	<dict>
		<key>菜肴</key>
		<string>http://img4.imgtn.bdimg.com/it/u=3214066259,1760508999&amp;fm=206&amp;gp=0.jpg</string>
	</dict>
	<dict>
		<key>主食</key>
		<string>http://i1.dpfile.com/2010-07-04/4656997_b.jpg</string>
	</dict>
	<dict>
		<key>西点</key>
		<string>http://img5.imgtn.bdimg.com/it/u=305072434,915685117&amp;fm=206&amp;gp=0.jpg</string>
	</dict>
	<dict>
		<key>汤羹饮品</key>
		<string>http://img.yescate.com/upfile/Images/2012/4/20120403115141770.jpg_0.jpg</string>
	</dict>
	<dict>
		<key>其他菜品</key>
		<string>http://img.ph.126.net/4bzD14hHKLQVWIy_lpmozA==/2297680234889792513.jpg</string>
	</dict>
	<dict>
		<key>人群</key>
		<string>http://pic.jschina.com.cn/0/12/23/03/12230310_261121.jpg</string>
	</dict>
	<dict>
		<key>疾病</key>
		<string>http://pic.gansudaily.com.cn/0/10/45/92/10459215_113548.jpg</string>
	</dict>
	<dict>
		<key>畜肉类</key>
		<string>http://sc.sinaimg.cn/2011/1018/U6816P841DT20111018103740.jpg</string>
	</dict>
	<dict>
		<key>禽蛋类</key>
		<string>http://imgbdb3.bendibao.com/meishisz/20157/23/2015723155624113.jpg</string>
	</dict>
	<dict>
		<key>水产类</key>
		<string>http://pic11.nipic.com/20101219/6416684_100746032164_2.jpg</string>
	</dict>
	<dict>
		<key>蔬菜类</key>
		<string>http://www.lnmhxdnykj.com/upfile/image/20130707/20130707172314291429.jpg</string>
	</dict>
	<dict>
		<key>水果类</key>
		<string>http://mmbiz.qpic.cn/mmbiz/BlSKdL5HGKRzibHdUBTOreiczXjF3YpKeZjZuicWvmibFNgJxMBcxypuaNjRALJ66c5wBf166StyzlNqDXUt7GMNiaA/640?wxfrom=5&amp;wx_lazy=1</string>
	</dict>
	<dict>
		<key>米面豆腐类</key>
		<string>http://img0.imgtn.bdimg.com/it/u=3592813916,1513362626&amp;fm=206&amp;gp=0.jpg</string>
	</dict>
	<dict>
		<key>日常</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=fef8980ecaef76093c0b99971edca301/0020dd54564e925823051a7d9d82d158ccbf4e77.jpg</string>
	</dict>
	<dict>
		<key>节日</key>
		<string>http://www.xhgxt.com/UploadFiles/2012-01/admin/20120114192047853.jpg</string>
	</dict>
	<dict>
		<key>节气</key>
		<string>http://f.hiphotos.baidu.com/zhidao/wh%3D600%2C800/sign=e82b4a10b0fb43161a4a727c10946a1b/faedab64034f78f02270b0287b310a55b2191cf5.jpg</string>
	</dict>
	<dict>
		<key>基本工艺</key>
		<string>http://sh.eastday.com/eastday/shnews/qtmt/20100226/images/00173583.jpg</string>
	</dict>
	<dict>
		<key>其他工艺</key>
		<string>http://img3.imgtn.bdimg.com/it/u=4068873354,2740957537&amp;fm=206&amp;gp=0.jpg</string>
	</dict>
	<dict>
		<key>基本口味</key>
		<string>http://www.taizhou.com.cn/cztz/attachement/jpg/site2/20100728/001aa01108780dba375816.jpg</string>
	</dict>
	<dict>
		<key>多元口味</key>
		<string>http://pic24.nipic.com/20121015/9626837_091949655000_2.jpg</string>
	</dict>
	<dict>
		<key>水果味</key>
		<string>http://img1.imgtn.bdimg.com/it/u=1675009672,2670448639&amp;fm=206&amp;gp=0.jpg</string>
	</dict>
	<dict>
		<key>调味料</key>
		<string>http://img3.redocn.com/20100908/Redocn_2010080623064216.jpg</string>
	</dict>
</array>
</plist>
